<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1fdd42e8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>SignIn</title>
</head>

<body class="darkMode">

    <div class="w3-container w3-center w3-animate-zoom">

        <section>
            <div class="container" id="cont">
                <h1>REGISTRATION</h1>

                <div class="box">
                    <div class="cont">
                        <form method="POST" class="sign-in">
                            <h1>Login IN</h1>
                            <input type="text" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password">
                            <input type="submit" value="LOG IN">

                            <div class="errorIn">
                                <p></p>
                            </div>

                            <p>Don't Have An Account? <a href="<%=path%>auth/signup">Click Here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>

</body>

</html>